$primary: #D7487D;//hsl(217, 71%, 53%);//#D7487D;
$table-row-active-background-color: #D7487D;
//$table-color:#F77853;

@import "bulma/bulma.sass";



.title, .label {
    color: black;
}

body, html {
    width: 100%;
}


.input, .textarea{
    width: 100%;
    margin: 0 auto;
    
}

input[type='radio'] {
    margin-right: 10px;
    margin-bottom: 10px;
}

.section {
    text-align: center;
    
}

.table-container {
    padding-left: 5%;
    padding-right: 5%;
    clear: both;


  }

#container {
    position:absolute;
    left:30%;
    right: 30%;
}

#newElementButton {
    float: right;
    margin-right: 5%;
}

#newElementButtonEvent {
    float: right;
    margin-right: 5%;
}






#section {
    max-width: 90%;
}



/* desktop e tablet */
@media screen and (min-width: 768px) {
    .input {
        max-width: 600px;
    }
    textarea:not([rows]) {
        min-width: 30em;
        min-height: 6em;
    }
}




