<?php

const DB_DSN = "mysql:dbname=soldout;host=localhost;port=3306";
const DB_USER = "soldout";
const DB_PASSWORD = "soldout";
const IMAGE_SAVE_PATH = __DIR__ . "/images/";
const IMAGE_URL = "/images";