:root {
    --color-text: #ffffff;
    --color-text-contrast: #000000;
    --color-text-secondary: #8a8181;
    --color-text-secondary-1: #b3b3b3;
    --color-primary: #D7487D;
    --color-primary-rgb: 215, 72, 125;
    --color-primary-lighter: #E56C99;
    --color-primary-darker: hsla(338, 67%, 40%, 1);
    --color-secondary: #F77853;
    --color-secondary-lighter: #FF9778;
    --color-secondary-darker: #E2552C;
    --color-background: hsl(0, 0%, 6%);
    --color-background-contrast: hsl(0, 0%, 94%);
    --color-background-1: hsl(0, 0%, 12%);
    --color-background-2: hsl(0, 0%, 18%);
    --color-background-3: hsl(0, 0%, 24%);
    --overlay-opacity-1: 0.05;
    --overlay-opacity-2: 0.08;
    --overlay-opacity-3: 0.11;
    --overlay-opacity-4: 0.14;
    --overlay-opacity-5: 0.17;
    --shadow-1: 0px 1px 4px 1px rgba(0,0,0,0.30);
    --shadow-2: 0px 1px 7px 1px rgba(0,0,0,0.30);
    --shadow-3: 0px 1px 10px 2px rgba(0,0,0,0.30);
    --shadow-4: 0px 1px 13px 3px rgba(0,0,0,0.30);
}

html,
body,
#app,
.page {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

/* input,
button,
a {
    outline: none;
}

input:focus,
button:focus,
a:focus {
    outline: 2px solid var(--color-primary);
} */

body {
    background-color: var(--color-background) !important;
    color: var(--color-text);
    font-family: "Noto Sans", sans-serif;
    font-size: 14pt;
}

h1 {
    display: block;
    font-size: 2em;
    font-weight: 900;
}

h2 {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    margin: 0.5em 0;
}

.hidden {
    display: none !important;
}

.noPointerEvents {
    pointer-events: none;
}

a {
    color: var(--color-text);
}

/* 
    Header
*/
.header {
    position: relative;
}

.header-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}

.header-content {
    display: flex;
    flex-direction: column;
    padding-top: 72px; /* leave space for the navbar */
}

.app-logo {
    width: 100%;
    text-align: center;
    font-size: 2.3em;
}

.app-logo svg {
    max-width: 100%;
    max-height: 80px;
    fill: #ffffff;
}

/* 
    Navbar
*/
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    height: 56px;
    width: 100%;
    padding: 4px;
    z-index: 100;
    transition: background-color 0.3s ease-out, box-shadow 0.3s ease-out;
}

.navbar--raised {
    box-shadow: var(--shadow-1);
    background-color: rgba(50, 50, 50, 0.9);
}

.navbar-title {
    margin-left: auto;
    align-self: center;
}

.navbar-buttons-right {
    margin-left: auto;
}

.navbar .app-logo {
    width: initial;
}

.navbar .app-logo svg {
    height: 48px;
    width: auto;
}

.navbar .homeButton {
    display: block;
    margin-left: auto;
}

/*
    Searchbar
*/
.searchbar-wrap {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
}

.searchbar {
    height: 52px;
    padding: 4px;
    margin: 0 16px;
}

.searchbar input {
    border: none;
    width: 100%;
    height: 100%;
    padding: 4px 16px;
    background-color: var(--color-background-contrast);
    color: var(--color-text-contrast);
    font-size: 0.9em;
    box-shadow: var(--shadow-2);
    border-radius: 6px;
}

.searchbar-results-wrap {
    display: block;
    position: absolute;
    width: 100%;
    top: 52px;
    z-index: 100;
    padding: 0 20px;
    animation: slide-in-up .15s ease-out;
    animation-fill-mode: forwards;
}

.searchbar-results {
    width: 100%;
    height: 100%;
    padding: 16px;
    margin: 8px 0 0 0;
    border-radius: 4px;
    list-style: none;
    background-color: var(--color-background-contrast);
    color: var(--color-text-contrast);
}

.searchbar-results--hidden {
    animation: slide-out-down .15s ease-in;
    animation-fill-mode: forwards;
}

.searchbar-entry {
    font-size: 0.9em;
    margin-bottom: 12px;
}

.searchbar-entry a {
    color: var(--color-text-contrast);
}

/* 
    Card Slider
*/
.slider,
.slider-header,
.slider-content {
    width: 100%;
}

.slider-header {
    display: flex;
    align-items: center;
    padding-left: 16px;
    margin-bottom: -8px;
}

.slider-title {
    color: var(--color-primary);
    font-size: 1.2em;
    font-weight: 600;
}

.slider-showMore {
    margin-left: auto;
}

.slider-content {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    padding: 24px 0 16px 0;
    /* margin: 0 16px; */
}

.slider-slide {
    width: 85%;
    padding: 0 12px;
    /* margin-right: 24px; */
    flex-shrink: 0;
    scroll-snap-align: center;
}

.slider-slide:first-child {
    padding-left: 16px;
}

.slider-slide:last-child {
    padding-right: 16px;
}

/*
    Card
*/
.card {
    position: relative;
    display: flex;
    overflow: hidden; /* prevents the content shadow from spilling out of the box */

    background-color: rgba(255,255,255, var(--overlay-opacity-1));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    color: var(--color-text);
    text-decoration: none;
}

.card.card--small {
    box-shadow: var(--shadow-2);
    border-radius: 6px;
}

.card.card--big {
    box-shadow: var(--shadow-2);
    border-radius: 8px;
    height: 100%;
}

.card > img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}

.card-content {
    width: 100%;
    padding: 8px 16px;
    background: rgba(20, 20, 20, 0.9);
}
.card--big .card-content {
    position: absolute;
    bottom: 0;
}

.card--big .card-content {
    box-shadow: 0 -2px 8px 0 rgba(32, 32, 32, 0.4);
}

.card-title {
    font-size: 1em;
}

/*
    Buttons
*/
.button {
    display: inline-block;
    padding: 12px 16px;
    background-color: transparent;
    font-size: 0.9em;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: var(--color-text);
    cursor: pointer;
    transition: color .2s ease, border .2s ease;
}

a.button {
    text-decoration: none;
}

.button--disabled {
    cursor: initial !important;
    color: var(--color-text-secondary) !important;
    border-color: var(--color-text-secondary) !important;
    pointer-events: none;
}

.button--flat {
    border: 1px solid transparent;
    border-radius: 4px;
    color: var(--color-primary);
}

.button--flat:hover {
    border: 1px solid var(--color-primary);
}

.button--outline {
    border: 1px solid var(--color-primary);
    border-radius: 4px;
    color: var(--color-primary);
}

.button--raised {
    background: var(--color-primary-darker);
    border: 1px solid var(--color-primary-darker);
    border-radius: 6px;
    color: var(--color-text);
    box-shadow: var(--shadow-1);
}

.button--round {
    border-radius: 50%;
}

.button--tab {
    border: none;
    border-bottom: 2px solid transparent;
}

.button--tab.button--active {
    border-bottom: 2px solid var(--color-primary);
}

.button--icononly {
    height: 48px;
    padding: 12px;
    border: none;
}

.button-icon {
    font-size: 24px;
}

/* From: https://fontawesome.com/how-to-use/on-the-web/styling/sizing-icons#scale */
.button-icon.fa {
    vertical-align: 25%;
}

.button.button--icononly.hasBadge {
    position: relative;
}

.button.button--icononly.hasBadge::after {
    content: '';
    display: block;
    position: absolute;
    top: 8px;
    right: 8px;
    background: var(--color-primary);
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.buttons {
    display: flex;
    padding: 8px;
}

.buttons.buttons--vertical {
    flex-direction: column;
}

.buttons.buttons--vertical .button {
    margin-bottom: 16px;
}

.buttons.buttons--vertical .button:last-child {
    margin-bottom: initial;
}

.buttons.buttons--horizontal {
    flex-direction: row;
    justify-content: flex-end;
}

.buttons.buttons--horizontal .button {
    margin-left: 8px;
}

.buttons.buttons--horizontal .button:first-child {
    margin-left: initial;
}

/*
    Tabbed Container
*/
.tabbedContainer {
    width: 100%;
}

.tabbedContainer > nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow-x: auto;
    scroll-behavior: smooth;
    white-space: nowrap;
}

.tabbedContainer-slides {
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow-x: auto;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}

.tabbedContainer-slide {
    min-width: 100%;
    width: 100%;
    padding: 16px 24px 24px 24px;
    scroll-snap-align: start;
}

.tabbedContainer-slide > * {
    margin-bottom: 12px;
}

/*
    Forms
*/
.form {
    display: flex;
    flex-direction: column;
}

.form label {
    display: block;
    font-size: 0.9em;
    margin-bottom: 8px;
}

.form input {
    height: 48px;
    padding: 8px;
    border: none;
    border-radius: 6px;
    margin-bottom: 24px;
    background-color: rgba(255,255,255, var(--overlay-opacity-1));
    color: var(--color-text);
    font-size: 1em;
}

.form button[type=submit] {
    margin-top: 24px;
}

/*
    Lists
*/
ul.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.list-item {
    /* display: flex; */
    /* flex-direction: column; */
    padding: 8px 16px;
    margin-bottom: 24px;
    /* background: var(--color-background-1); */
}

.list-item p {
    margin: 0 0 8px 0;
}

.list-item .text--small {
    font-size: 0.8em;
    color: var(--color-text-secondary-1);
}

/*
    Show info
*/
.showSummary-title {
    font-size: 1em;
}

.showSummary-location,
.showSummary-date {
    display: inline-block;
    font-size: 0.7em;
}

.showSummary-date {
    margin-right: 0.5em;
}

.showSummary-location::before,
.showSummary-date::before {
    display: inline-block;
    content: '\f3c5';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 0.8em;
    margin-right: 4px;
    vertical-align: middle;
}

.showSummary-location::before {
    content: '\f3c5';
}

.showSummary-date::before {
    content: '\f073';
}

/*
    All pages
*/
.page {
    position: relative;
    background: linear-gradient(165deg, rgba(var(--color-primary-rgb), 0.2), var(--color-background) 30%);
    animation: fade-in .3s ease-out;
    height: 100%;
}

.page > .header > .header-content > h1 {
    margin-top: 0;
}

.page > main,
.page > .header {
    max-width: 848px;
    margin-left: auto;
    margin-right: auto;
}

/*
    Homepage
*/
.page.page--home {
    animation: zoom-out .3s ease;
    background: unset;
}

.page--home .header {
    height: 30%;
    min-height: 240px;
    max-height: 280px;
    max-width: none;
}

.page--home .header-bg {
    background-image: url(res/header-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.page--home .header-bg-filter {
    background: linear-gradient(160deg, var(--color-primary) 0%, var(--color-secondary) 90%, var(--color-background) 100%);
    mix-blend-mode: multiply;
}

.page--home .header-bg-blend {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 70%, var(--color-background) 100%);
}

.page--home .navbar--raised {
    background-color: var(--color-primary);
}

.page--home .navbar .app-logo {
    display: none;
}

.page--home .button.button--icononly.hasBadge::after {
    background: hsla(148, 80%, 46%, 1);
}

.page--home > main {
    position: relative;
    max-width: 1104px;
}

.page--home > main > div {
    margin-bottom: 16px;
}

.page--home .slider-slide {
    max-width: 320px;
    max-height: 220px;
}

.page--home .tabbedContainer {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.page--home .tabbedContainer-slide .card {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

/*
    Show, Artist and Venue pages
*/
.page.page--show,
.page.page--artist,
.page.page--venue {
    background: unset;
}

.page--show .header,
.page--artist .header,
.page--venue .header {
    height: 50%;
    max-width: unset;
}

.page--show .header-bg,
.page--artist .header-bg,
.page--venue .header-bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.page--show .header-bg-blend,
.page--artist .header-bg-blend,
.page--venue .header-bg-blend {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.1) 0%, var(--color-background) 100%);
}

.page--show .header-content,
.page--artist .header-content,
.page--venue .header-content {
    padding: 0 24px;
}

.page.page--show .header-content > h1,
.page.page--artist .header-content > h1,
.page.page--venue .header-content > h1 {
    margin-top: auto;
    margin-bottom: 48px;
    text-align: center;
}

.page--show main,
.page--artist main,
.page--venue main {
    position: relative;
    margin-top: -24px;
    padding: 0 24px 24px 24px;
}

.page--show h4,
.page--artist h4,
.page--venue h4 {
    margin: 24px 0 8px 0;
}

.page--show p,
.page--artist p,
.page--venue p {
    margin: 0;
}

.page--show .showInfoList a {
    text-decoration: underline;
    color: var(--color-text);
}

ul.showInfoList {
    list-style: none;
    margin: 0;
    padding-left: 1.5em; /* the .5 is there to account for the 1em width of .showInfoList li>i */
    text-indent: -1em;
}

.showInfoList li {
    line-height: 1.8em;
}

.showInfoList li>i {
    width: 1em;
    font-size: 0.7em;
    text-align: center;
}

.buyButtonContainer {
    text-align: center;
    margin-bottom: 24px;
}

/*
    Buy page
*/
.page--buy .buyStep {
    animation: fade-in .3s ease-out;
}

.page--buy .btnNext {
    margin-top: 40px;
}

.page--buy .ticketTypeList {
    margin-top: 40px;
    animation: slide-up .3s ease;
}

.page--buy .buttons {
    margin-top: 40px;
}

.buyStep {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    padding: 24px;
    padding-top: 56px;
}

.buyStep.buyStep--hidden {
    display: none;
}

.buyStep--quantity span.ticketType {
    color: var(--color-primary);
    font-style: italic;
}

.ticketTypeList {
    list-style: none;
    padding: 0;
}

.ticketTypeList > li {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 16px;
    margin-bottom: 16px;
    border-radius: 6px;

    background-color: var(--color-background-1);
    box-shadow: var(--shadow-1);
    border-left: 2px solid transparent;

    transition: background-color .1s ease, box-shadow .1s ease, border-left .1s ease;
}

.ticketTypeList > li.ticketType--selected {
    background-color: var(--color-background-3);
    box-shadow: var(--shadow-3);
    border-left: 2px solid var(--color-primary);
}

.ticketTypeList > li .ticketType-name {
    margin-right: 1em;
}

.ticketTypeList > li .ticketType-price {
    margin-left: auto;
    font-size: 0.9em;
    white-space: nowrap;
}

.ticketTypeList > li * {
    pointer-events: none;
}

.quantitySelector {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 24px auto 0 auto;
}

.quantitySelector > span {
    margin: 0 16px;
    padding: 8px 16px;
}

.quantitySelector > .button {
    width: 48px;
    height: 48px;
}

/*
    Cart page
*/
.page--cart .header-content {
    padding-left: 24px;
    padding-right: 24px;
}

.page--cart main {
    display: flex;
    flex-direction: column;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 24px;
}

.page--cart .btnNext {
    margin-top: 40px;
}

.page--cart .cartEmpty {
    text-align: center;
    animation: fade-in .2s ease;
}

.page--cart .cartEmpty .button {
    width: 100%;
}

.cartList {
    list-style: none;
    margin: 0;
    padding: 0;

    animation: slide-up .3s ease;
}

.cartList > li {
    display: flex;
    flex-direction: column;
    /* line-height: 1.5em; */
    padding: 16px 16px 4px 16px;
    margin-bottom: 24px;
    overflow: hidden;
    background-color: var(--color-background-1);
    border-radius: 6px;
    box-shadow: var(--shadow-1);
}

.cartList .btnRemove {
    margin-left: auto;
    margin-right: -16px;
}

.cartList .show-name,
.cartList .show-location,
.cartList .show-date {
    display: block;
}

.cartList .show-name {
    font-size: 1.1em;
}

.cartList .show-location,
.cartList .show-date {
    font-size: 0.8em;
}

.cartList .priceList {
    margin-top: 24px;
    padding: 0;
    font-size: 0.9em;
}

.cartList .priceList > li {
    display: flex;
    flex-direction: row;
}

.cartList .priceList > li {
    margin-bottom: 12px;
}

.cartList .priceList .ticket-type {
    margin-right: 16px;
}

.cartList .priceList .ticket-price {
    margin-left: auto;
    white-space: nowrap;
}

.cartList .priceList .ticket-totalPrice {
    font-weight: bold;
}

/*
    Login and Signup pages
*/
.page.page--login,
.page.page--signup {
    padding: 0 24px;
}

.page--login main,
.page--signup main {
    padding-bottom: 24px;
}

.page--login .form .btnSignup {
    margin-top: 24px;
}

.page--login .form,
.page--signup .form {
    max-width: 400px;
    margin: 0 auto;
}

/*
    Profile page
*/
.page--profile .header-content {
    padding-left: 24px;
    padding-right: 24px;
    margin-bottom: 16px;
}

.page--profile .btnLogout {
    align-self: flex-end;
    margin-top: 16px;
}

.page--profile .tabbedContainer > nav {
    justify-content: center;
}

.page--profile .form {
    max-width: 400px;
    margin: 0 auto;
}

.profileCard {
    position: relative;
    display: flex;
    flex-direction: row;
    max-width: 400px;
    margin: 0 auto;
    padding: 16px 24px;
    border-radius: 8px;
    background: rgba(255,255,255, var(--overlay-opacity-1));
}

.profileCard .profilePic {
    width: 30%;
    margin-right: 16px;
}

.profileCard .profilePic > img {
    width: 100%;
    border-radius: 50%;
}

.profileCard .profileInfo {
    display: flex;
    flex-direction: column;
    padding-top: 8px;
}

.profileCard .btnLogout {
    /* align-self: flex-end; */
    position: absolute;
    bottom: 0;
    right: 0;
}

.profileCard-moreInfo {
    font-size: 0.8em;
    margin-top: 8px;
}

.profileCard-ordersCount,
.profileCard-coinsCount {
    font-weight: bold;
}

.orderList {
    padding: 0;
    margin: 0;
    list-style: none;
}

.orderList-row {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    margin-bottom: 12px;
    background: var(--color-background-1);
    border-radius: 6px;
    box-shadow: var(--shadow-1);
    
}

a.orderList-row {
    color: var(--color-text);
    text-decoration: none;
}

.orderList-row > i {
    display: block;
    margin-left: auto;
}

.orderList-row .order-theresMore {
    color: var(--color-text-secondary-1);
}

.orderList-row .order-moreInfo {
    margin-top: 8px;
    font-size: 0.8em;
    color: var(--color-text-secondary-1);
}

.order-moreInfo .order-date {
    margin-right: 1em;
}

.order-moreInfo .order-date,
.order-moreInfo .order-id {
    color: var(--color-text);
}

/*
    Notifications page
*/
.page--notifications .header {
    padding-left: 24px;
    padding-right: 24px;
}

.page--notifications main {
    padding: 0 16px;
}

.page--notifications .list-item > div {
    margin-top: 6px;
}

.notification-bullet {
    display: inline-block;
    background: var(--color-primary);
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin-left: 8px;
}

/*
    Order details page
*/
.page.page--orderdetails .header-content {
    padding-left: 24px;
    padding-right: 24px;
}

.page.page--orderdetails main {
    /* padding: 0 24px; */
    padding-bottom: 24px;
}

.page--orderdetails .orderInfo {
    margin: 0 24px;
}

.page--orderdetails .orderInfo th {
    text-align: left;
    padding-right: 16px;
}

.page--orderdetails .ticketList {
    list-style: none;
    margin: 24px 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.page--orderdetails .ticketList li {
    padding: 16px;
}

.page--orderdetails .ticketList .ticket {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 8px;
    border-top: 4px dashed var(--color-primary-darker);
    border-bottom: 4px dashed var(--color-background-contrast);
    font-size: 1.1em;
    max-width: 380px;
    min-width: 248px;
    box-shadow: var(--shadow-3);
}

.page--orderdetails .infoContainer,
.page--orderdetails .qrContainer {
    width: 100%;
    padding: 16px;
}

.page--orderdetails .infoContainer {
    display: flex;
    flex-direction: column;
    background: var(--color-primary-darker);
}

.page--orderdetails .infoContainer > span.label {
    margin-bottom: 0;
    color: #f1f1f1;
    font-size: 0.8em;
    font-weight: normal;
}

.page--orderdetails .infoContainer > span {
    font-size: 0.9em;
    margin-bottom: 8px;
    font-weight: bold;
}

.page--orderdetails .infoContainer .showTitle {
    font-size: 1em;
    font-weight: bold;
}

.page--orderdetails .qrContainer {
    display: flex;
    flex-direction: column;
    background: var(--color-background-contrast);
}

.page--orderdetails .qrContainer img {
    max-width: 200px;
    align-self: center;
}

/*
    404 page
*/
.page.page--error404 {
    height: 100%;
    width: 100%;
    padding: 10%;
    text-align: center;
    background: linear-gradient(160deg, var(--color-primary) 0%, var(--color-background) 60%);
    animation: zoom-out .3s ease;
}

.page--error404 img {
    height: 40%;
    max-height: 300px;
    margin-bottom: 24px;
    filter: drop-shadow(0px 2px 8px #00000055);
}

/*
    Animations
*/
.animate--removeListItem {
    max-height: 500px;
    animation: remove-list-item .4s ease;
    animation-fill-mode: forwards;
}

@keyframes remove-list-item {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(0.9);
        opacity: 0;
    }
    100% {
        transform: scale(0.9);
        opacity: 0;
        max-height: 0;
        margin: 0;
        padding: 0;
    }
}

@keyframes zoom-out {
    0% {
        opacity: 0;
        transform: scale(1.1);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes zoom-in {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(35px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slide-out-left {
    0% {
        transform: translateX(0px);
        opacity: 1;
    }
    100% {
        transform: translateX(-50px);
        opacity: 0;
    }
}

@keyframes slide-out-down {
    0% {
        transform: translateY(0px);
        opacity: 1;
    }
    100% {
        transform: translateY(16px);
        opacity: 0;
    }
}

@keyframes slide-in-up {
    0% {
        transform: translateY(16px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slide-in-left {
    0% {
        transform: translateX(35px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/*
    Responsive
*/

@media screen and (min-width: 600px) {
    .searchbar-wrap {
        width: 576px;
        align-self: center;
    }
}

@media screen and (min-width: 768px) {
    .page--home .app-logo svg {
        max-height: 100px;
    }
}

@media screen and (min-width: 1024px) {
    .page--home .app-logo svg {
        max-height: 160px;
    }

    .slider .slider-content {
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 24px 16px 16px 16px;
        overflow-x: hidden;
    }

    .slider .slider-slide {
        margin-bottom: 24px;
        padding: 0;
    }

    .page--home .header {
        height: 50%;
        min-height: 320px;
        max-height: unset;
        overflow: visible;
    }

    .page--home > main {
        margin-top: -48px;
    }

    .searchbar-wrap {
        width: 800px;
    }
}
