:root {
    --color-text: #ffffff;
    --color-text-contrast: #000;
    --color-text-secondary: #e7e7e7;
    --color-primary: #D7487D;
    --color-primary-lighter: #E56C99;
    --color-primary-darker: #C52761;
    --color-secondary: #F77853;
    --color-secondary-lighter: #FF9778;
    --color-secondary-darker: #E2552C;
    --color-background: #121212;
    --color-background-contrast: #eeeeee;

    --overlay-opacity-1: 0.05;
    --overlay-opacity-2: 0.07;
    --overlay-opacity-3: 0.08;
    --overlay-opacity-4: 0.09;
    --overlay-opacity-5: 0.11;

    --shadow-1: 0px 1px 2px 1px rgba(0,0,0,0.30);
    --shadow-2: 0px 1px 6px 4px rgba(0,0,0,0.30);
    --shadow-3: 0px 1px 12px 4px rgba(0,0,0,0.30);
}

html,
body,
.page {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    overflow-y: scroll;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--color-background);
    color: var(--color-text);

    font-family: "Noto Sans", sans-serif;
    font-size: 14pt;
}

@keyframes page-zoom-out {
    0% {
        opacity: 0;
        transform: scale(1.1);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes page-zoom-in {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

/* 
    Header
*/
.header {
    position: relative;
    overflow: hidden;
}

.header-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}

.header-content {
    display: flex;
    flex-direction: column;
    padding-top: 56px; /* leave space for the navbar */
}

.app-logo {
    width: 100%;
    text-align: center;
    font-size: 2.3em;
}

.logo-sold {
    font-weight: 300;
}

.logo-out {
    font-weight: 600;
}

/* 
    Navbar
*/
.navbar {
    position: fixed;
    display: flex;
    flex-direction: row;
    height: 56px;
    width: 100%;
    padding: 4px;
    z-index: 1;
    transition: background-color 0.3s ease-out, box-shadow 0.3s ease-out;
}

.navbar--raised {
    box-shadow: var(--shadow-1);
}

.navbar-button {
    display: inline-block;
    height: 48px;
    padding: 12px;
    font-size: 24px;
}

/* From: https://fontawesome.com/how-to-use/on-the-web/styling/sizing-icons#scale */
.navbar-button .fa {
    vertical-align: 25%;
}

.navbar-button:nth-child(1) {
    margin-left: 0;
}

a.navbar-button,
a.navbar-button:visited,
a.navbar-button:active {
    color: var(--color-text);
}

.navbar-title {
    margin-left: auto;
    align-self: center;
}

.navbar-buttons-right {
    margin-left: auto;
}

/*
    Searchbar
*/
.searchbar {
    height: 52px;
    padding: 4px;
    margin: auto 16px;
}

.searchbar-inner {
    width: 100%;
    height: 100%;
    padding: 0 16px;
    background-color: var(--color-background-contrast);
    box-shadow: var(--shadow-2);
    border-radius: 6px;
}

.searchbar input {
    border: none;
    width: 100%;
    height: 100%;
    background-color: transparent;
    color: var(--color-text-contrast);
    font-size: 0.9em;
}

/* 
    Card Slider
*/
.slider,
.slider-header,
.slider-content {
    width: 100%;
}

.slider-header {
    display: flex;
    align-items: center;
    padding: 0 16px;
    margin-bottom: -8px;
}

.slider-title {
    color: var(--color-primary);
    font-size: 1.2em;
    font-weight: 600;
}

.slider-showMore {
    margin-left: auto;
}

.slider-content {
    display: flex;
    flex-direction: row;
    height: 240px;
    overflow: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    padding: 16px 0;
}

.slider-slide {
    width: 85%;
    padding: 0 12px;
    flex-shrink: 0;
    scroll-snap-align: center;
}

.slider-slide:first-child {
    padding-left: 16px;
}

.slider-slide:last-child {
    padding-right: 16px;
}

.slider-content--zoom-in {
    animation: slider-zoom-in 0.4s ease;
}

@keyframes slider-zoom-in {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(5);
    }
}

/*
    Card
*/
.card {
    display: flex;
    overflow: hidden; /* prevents the content shadow from spilling out of the box */

    background-color: rgba(255,255,255, var(--overlay-opacity-1));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.card.card--small {
    box-shadow: var(--shadow-2);
    border-radius: 6px;
}

.card.card--big {
    box-shadow: var(--shadow-2);
    border-radius: 8px;
    height: 100%;
}

.card-content {
    width: 100%;
    margin-top: auto;
    padding: 8px 16px;
    background: rgba(40, 40, 40, 0.9);
}

.card--big .card-content {
    box-shadow: 0 -2px 8px 0 rgba(32, 32, 32, 0.4);
}

.card-title {
    font-size: 1em;
}

/*
    Buttons
*/
.button {
    display: inline-block;
    padding: 8px 16px;
    font-size: 0.9em;
    font-weight: bold;
    text-transform: uppercase;
}

a.button {
    color: var(--color-text);
    text-decoration: none;
}

.button--flat {
    border: 1px solid transparent;
    border-radius: 4px;
    color: var(--color-primary) !important;
}


.button--flat:hover {
    border: 1px solid var(--color-primary);
}

.button--outline {
    border: 1px solid var(--color-primary);
    border-radius: 4px;
    color: var(--color-primary) !important;
}

.button--raised {
    background: var(--color-primary-darker);
    border: 1px solid var(--color-primary-darker);
    border-radius: 6px;
    color: var(--color-text) !important;
    box-shadow: var(--shadow-1);
}

/*
    Tabbed Container
*/
.tabbedContainer-tabs {
    display: flex;
    flex-direction: row;
    padding: 0 16px;
}

.tabbedContainer-tab {
    list-style: none;
    padding: 4px;
    margin-right: 8px;

    color: var(--color-primary-lighter);
    font-size: 1em;
    background: none;
    border: none;

    transform: scale(0.8);
    transition: color 0.3s ease-out, transform 0.3s ease-out;
}

.tabbedContainer-tab--active {
    border-bottom: 2px solid var(--color-primary);
    color: var(--color-primary);
    transform: scale(1);
}

.tabbedContainer-content {
    display: flex;
    flex-direction: row;
    padding: 16px 0;
    
    overflow: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}

.tabbedContainer-slide {
    flex-shrink: 0;
    width: 100%;
    scroll-snap-align: start;
    padding: 0 16px;
}

.tabbedContainer-slide .card.card--small {
    margin-bottom: 16px;
}

/*
    Event info
*/
.eventQuickInfo-title {
    font-size: 1em;
}

.eventQuickInfo-location,
.eventQuickInfo-date {
    display: inline-block;
    font-size: 0.7em;
}

.eventQuickInfo-date {
    margin-right: 0.5em;
}

.eventQuickInfo-location::before,
.eventQuickInfo-date::before {
    display: inline-block;
    content: '\f3c5';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 0.8em;
    margin-right: 4px;
    vertical-align: middle;
}

.eventQuickInfo-location::before {
    content: '\f3c5';
}

.eventQuickInfo-date::before {
    content: '\f073';
}

/*
    Homepage
*/
.page.page--home {
    animation: page-zoom-out .3s ease;
}

.page--home .header {
    height: 30%;
    min-height: 200px;
    max-height: 280px;
}

.page--home .header-bg {
    background-image: url(res/header-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    /* filter: saturate(0); */
}

.page--home .header-bg-filter {
    background: linear-gradient(160deg, var(--color-primary) 0%, var(--color-secondary) 70%, var(--color-background) 100%);
    mix-blend-mode: multiply;
}

.page--home .header-bg-blend {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 70%, var(--color-background) 100%);
}

.page--home .navbar--raised {
    background-color: var(--color-primary);
}

.page--home main {
    height: 1000px;
}

.page--home main>div {
    margin-bottom: 16px;
}

/*
    Event page
*/
.page--event .header {
    height: 50%;
}

.page--event .header-bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.page--event .header-bg-blend {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, var(--color-background) 100%);
}

.page--event .header-content {
    padding: 0 32px;
}

.page--event .header-title {
    margin-top: auto;
    margin-bottom: 48px;
    font-size: 2em;
    font-weight: 900;
    text-align: center;
}

.page--event .navbar--raised {
    background-color: rgba(50, 50, 50, 0.9);
}

.page--event main {
    padding: 0 24px 24px 24px;
}

.page--event h4 {
    margin: 24px 0 8px 0;
}

.page--event p {
    margin: 0;
}

ul.eventInfoList {
    list-style: none;
    margin: 0;
    padding: 0;
}

.eventInfoList li {
    height: 2em;
    vertical-align: middle;
}

.eventInfoList li>i {
    width: 1em;
    font-size: 0.7em;
    text-align: center;
    margin-right: 1em;
}

.buyButtonContainer {
    text-align: center;
    margin-bottom: 24px;
}

/*
    404 page
*/
.page.page--error404 {
    height: 100%;
    width: 100%;
    padding: 10%;
    text-align: center;
    background: linear-gradient(160deg, #f057ffee -5%, var(--color-background) 60%);
    animation: page-zoom-out .3s ease;
}

.page--error404 img {
    height: 40%;
    max-height: 300px;
    margin-bottom: 24px;
    filter: drop-shadow(0px 2px 8px #00000055);
}
